.go_pay {
  background: #F0F0F0;
  padding-bottom: 30px;
}
.box {
  background: #fff;
  margin-top: 20px;
}
.go_pay_box {
  margin: 30px 66px;
}
.go_pay_box h3 {
  padding: 0 0 20px 0;
}
.need_to_pay {
  padding: 15px 40px 15px 30px;
  background: #fef3f3;
  font-size: 17px;
  margin-bottom: 45px;
  color: #666;
}
.payment {
  height: 60px;
  line-height: 60px;
  border: 1px solid #eee;
  padding: 0 40px 0 30px;
  color: #666;
  margin-bottom: 25px;
}
.payment span {
  font-size: 17px;
}
.payment img {
  margin: 0 20px;
  vertical-align: sub;
  width: 17px;
}
.pay_btn {
  text-align: center;
  margin-top: 200px;
}
.pay_btn button {
  width: 20%;
  height: 42px;
  font-size: 20px;
  padding: 0;
}
.pay_btn button+button {
  margin-left: 60px;
}

