/* 侧边栏客服样式  */
.aside {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 10;
}
/* 在线客服/商家输入公共样式 */
.online_service, .merchant_settled {
  position: relative;
  width: 30px;
  padding: 15px;
  background: #0C0C0C;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
/* 在线客服咨询样式 */
.online_service_box {
  display: none;
  position: absolute;
  top: 0;
  left: -160px;
  width: 160px;
  background: #ffefe4;
  border-radius: 5px;
  color: #000;
  padding-bottom: 30px;
  cursor: default;
}
/* 标题盒子样式 */
.online_service_box_title {
  width: 100%;
  padding-top: 25px;
  color: #613e21;
  text-align: center;
}
/* 标题样式 */
.online_service_box_title h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
/* 段落样式 */
.online_service_box_title p {
  font-size: 13px;
  margin-bottom: 12px;
}
/* 列表样式 */
.online_service_box ul {
  width: 130px;
  background: #fff;
  margin: 0 auto;
}
/* 列表项样式 */
.online_service_box ul li {
  height: 80px;
  padding-top: 20px;
  border-bottom: 1px dashed #cfcfcf;
}
.online_service_box ul li:last-child {
  border-bottom: 0;
}
/* 标题样式 */
.online_service_box ul li h4{
  font-size: 16px;
  margin-bottom: 8px;
}
.online_service_box ul li img{
  cursor: pointer;
}
/* 鼠标悬停显示/隐藏 */
.online_service:hover .online_service_box {
  display: block;
}
/* 商家入驻二维码咨询样式 */
.merchant_settled_box {
  display: none;
  position: absolute;
  top: 0;
  left: -160px;
  width: 160px;
  background: #ffefe4;
  border-radius: 5px;
  color: #333;
  padding-bottom: 3px;
}
/* 鼠标悬停显示/隐藏 */
.merchant_settled:hover .merchant_settled_box {
  display: block;
  cursor: default;
}
/* element弹窗内容区样式 */
.el_content {
  width: 98%;
  margin: 0 auto;
}
/* element弹窗咨询区样式 */
.el_consult {
  width: 98%;
  margin: 0 auto;
  display: flex;
}
/* 左侧样式 */
.el_consult_left {
  width: 49%;
  margin-right: 2%;
}
/* 右侧样式 */
.el_consult_right {
  width: 49%;
}
/* 标题样式 */
.el_consult_left h3, .el_consult_right h3 {
  padding: 10px 0;
}
/* element弹窗紧急处理区样式 */
.el_dispose {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 20px;
}
/* 标题样式 */
.el_dispose h3 {
  font-size: 16px;
}
/* 盒子样式 */
.el_dispose div {
  display: flex;
  align-items: center;
  margin: 15px 0 0 15px;
  cursor: pointer;
}
/* 弹窗样式 */
.popup {
  margin-top: -10vh;
}

/* 小于1550px */
@media screen and (max-width: 1550px) {
  .popup{
    width: 1550px;
  }
}
