/* 会员到期时间盒子样式 */
.member_expire {
  margin: 13px auto;
  margin-bottom: 0;
}
/* 会员到期时间样式 */
.member_expire img, .member_expire span {
  display: inline-block;
  vertical-align: middle;
}
/* 会员充值样式 */
.member_recharge {
  width: 100%;
}
/* 标题盒子样式 */
.title {
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  border-bottom: 1px solid #cbcbcb;
}
/* 标题样式 */
.title p {
  height: 70px;
  font-size: 15px;
  color: #707070;
}
.title span {
  font-size: 20px;
  color: #444444;
  margin-right: 10px;
  border-left: 3px solid #ff4251;
  padding-left: 10px;
}
/* 会员充值内容样式 */
.member_recharge_content {
  margin: 20px auto;
}
/* 列表项样式 */
.member_recharge_content ul .item_li {
  width: 100%;
  margin-bottom: 5px;
}
.member_recharge_content ul .item_li:first-child{
  /* width: 96%; */
  /* height: 300px; */
  /* margin: 0 auto; */
}
.recharge_money ul li {
  /* padding: 7px; */
  width: 22%;
  height: 100px;
  cursor: pointer;
  float: left;
  margin-left: 35px;
  margin-bottom: 22px;
}
.recharge_money ul li:nth-child(1),
.recharge_money ul li:nth-child(5){
  margin-left:0; 
}
.recharge_money ul li>div {
  width: 100%;
  height: 100%;
  /* background: url(../../../assets/img/recharge/menber_bg_1.png) no-repeat; */
  background-size: 100% 100px;
  border: 1px solid #DEDEDE;
  position: relative;
  border-radius: 3px;
}
.recharge_money ul li>div.active_div {
  width: 100%;
  height: 100%;
  /* background: url(../../../assets/img/recharge/menber_bg.png) no-repeat; */
  background: url(../../../assets/img/recharge/choose_bg.png) no-repeat;
  background-size: 100% 100px;
  position: relative;
  border: 0;
  box-shadow: 0px 0px 10px 0px #FF470A;
}
.recharge_money ul li>div:hover {
  width: 100%;
  height: 100%;
  /* background: url(../../../assets/img/recharge/menber_bg.png) no-repeat; */
  background: url(../../../assets/img/recharge/choose_bg.png) no-repeat;
  background-size: 100% 100px;
  position: relative;
  border: 0;
  box-shadow: 0px 0px 10px 0px #FF470A;
}
.recharge_money .discount {
  /* background: url(../../../assets/img/recharge/discount_img.png) no-repeat; */
  width: 45px;
  height: 25px;
  background: #FF470A;
  font-size: 14px!important;
  color: #fff;
  line-height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  text-align: center;
}
/*.recharge_money li:first-child .discount {*/
  /*padding-left: 8px;*/
/*}*/
/*.recharge_money li:last-child .discount {*/
  /*padding-left: 32px;*/
/*}*/
.recharge_money b {
  font-size: 24px;
  float: left;
  margin-top: 20px;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  color: #333;
}
.recharge_money p {
  width: 100%;
  font-size: 16px;
  color: #666;
  /* position: absolute;
  top: 70px;
  left: -2%; */
  color: #666;
  text-align: center;
}
.recharge_money p span {
  font-size: 14px;
  color: #FF470A;
}
/* 支付方式样式 */
.item_li .payment{
  display: inline-block;
  width: 12%;
  font-size: 20px;
  padding: 10px;
  margin-top: 5px;
  vertical-align: middle;
}
/* 支付方式选择框样式 */
.zhifubao_pay, .yajin_pay, .jinbi_pay {
  display: inline-block;
  width: 146px;
  height: 40px;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-right: 10px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
/* 文字样式 */
.zhifubao_pay span, .yajin_pay span, .jinbi_pay span {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}
/* 鼠标悬停去边框加背景图 */
.zhifubao_pay:hover, .yajin_pay:hover, .jinbi_pay:hover {
  background: url(../../../assets/img/recharge/choose_pay_bg.png) no-repeat;
  border-color: #fff;
}
.active_pay {
  background: url(../../../assets/img/recharge/choose_pay_bg.png) no-repeat;
  border-color: #fff;
}
/* 图片样式 */
.item_li  img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
/* 支付金额样式 */
.payment_p {
  font-size: 18px;
  color: #666;
  padding-left: 10px;
  letter-spacing: 2px;
  margin-top: 20px;
}
/* 确认支付按钮 */
.submit_btn {
  width: 22.3%;
  height: 56px;
  font-size: 22px;
  letter-spacing: 2px;
  margin-left: 10px;
}
/* 温馨提示样式 */
.warm_prompt {
  width: 100%;
  margin: 30px auto 50px;
}
.warm_prompt div {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.warm_prompt p {
  font-size: 16px;
  color: #666;
}
.warm_prompt span {
  color: #000;
}
/* 媒体查询*/
/*@media screen and (max-width: 1500px){*/
/*.recharge_money ul li {*/
/*width: 220px;*/
/*}*/
/*}*/
